<?xml version="1.0"?>
<launch>
    <node name="map_server" pkg="map_server" type="map_server" args="$(find path_planner)/maps/katk_02_06_2023.yaml"/>
    <node name="trajectory_planner_rviz" pkg="rviz" type="rviz" args="-d $(find path_planner)/rviz/planner.rviz"/> 

    <arg name="costmap" default="false" />
    
    <node name="astar_node" pkg="path_planner" type="planner.py" output="screen">
        <param name="plan_method" type="string" value="RRT" /> <!--  Options : "Djikstra", "AStar", "RRT" -->
        <param name="turn_cost_factor" type="double" value="10.00" /> <!--  Turning cost factor. Increase for longer path but little turn -->
        <param name="robot_diameter" type="double" value="0.8" /> <!-- Robot diameter size. (meter units) -->
        <param name="size_inflation" type="double" value="0.4" /> <!-- Robot size inflation from current diameter. (meter units) -->

        <param name="use_costmap" type="bool" value="$(arg costmap)" /> <!-- Experimental. Trying to use costmap for potential field planner -->
        <param name="is_replan" type="bool" value="false" /> <!-- Experimental. replan when robot is about to crashed -->
        <param name="obstacle_cost_factor" type="double" value="5.00" /> <!--  Experimental. Obstacles cost factor. Increase distance from obstacle -->
    </node>

    <node pkg="tf" type="static_transform_publisher" name="base_to_laser_broadcaster_node" args="0 0 0 0 0 0 map base_link 100"/>

    <!-- Run the costmap node -->
    <group if="$(arg costmap)">
        <node name="costmap_node" pkg="costmap_2d" type="costmap_2d_node" >
            <rosparam file="$(find path_planner)/config/costmap.yaml" command="load" ns="costmap" />
        </node>
    </group>
</launch>
